/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #654321;
    margin: 0;
}

/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #013220;
    color: white;
}

/* Логотип */
.logo-container {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    border: 3px solid rgba(0, 0, 0, 0.5); /* Рамка вокруг логотипа */
    border-radius: 50%; /* Круглая форма рамки */
}

/* Название сайта */
h1 {
    font-size: 24px;
    margin: 0;
}

/* Контейнер для иконки пользователя */
.user-container {
    display: inline-block;
}

/* Аватарка пользователя или стандартная иконка */
.user-icon img {
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5); /* Рамка вокруг иконки */
    border-radius: 50%; /* Круглая форма рамки */
}

/* Всплывающее меню */
#popup-menu {
   position: absolute;
   top: 55px;
   right: 20px;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 10px;
   border-radius: 5px;
   list-style-type: none;
   transition: all .3s ease-in-out;
   opacity :0 ;
   visibility :hidden ;
   transform :scaleY(0);
}

#popup-menu.show {
   opacity :1 ;
   visibility :visible ;
   transform :scaleY(1);
}

#popup-menu li {
   margin :5px 0 ;
}

#popup-menu li a {
   color :inherit ;
   text-decoration :none ;
}

#popup-menu li a:hover {
   text-decoration :underline ;
}

/* Основная секция */
main section {
   max-width :800px;
	margin-top :30px;
	margin-left:auto;
	margin-right:auto;
	padding :20px;
	background-color:white;
	border-radius :10px;
	box-shadow :0 2px 5px rgba(0,0,0,.1);
}

main h2 {
	text-align:center;
	margin-bottom :20px;
}

/* Стили для карточек товаров */
.product-cards {
	display:flex;
	flex-wrap :wrap;
	justify-content :space-between;
}

.product-card {
	background-color:#FFE4C4;
	border-radius :10px;
	box-shadow :0 2px 5px rgba(0,0,0,.2);
	margin :15px;
	padding :10px;
	width :calc(33.33% - 30px);
	display:flex;
	flex-direction :column;
	justify-content :space-between;
	box-sizing:border-box;
}

.product-card img {
	width :100%;
	border-top-left-radius :10px;
	border-top-right-radius :10px;
}

.product-card h3,
.product-card p {
	text-align:center;
}

.product-card button {
	background-color :transparent;
	color :#4CAF50;
	border :2px solid #4CAF50;
	border-radius :5px;
	padding :10px 15px;
	text-align:center;
	text-decoration:none ;
	margin-top:auto ;
	cursor:pointer ;
}

.product-card button:hover {
	background-color:#4CAF50 ;
	color:white ;
}

/* Нижний колонтитул */
footer {
     background-color:#251002 ;
     color:white ;
     text-align:center ;
     padding :15 px ; /* Увеличиваем отступы для лучшего внешнего вида*/
     position:absolute ; /* Изменяем позиционирование на абсолютное*/
     bottom :-20 px ; /* Устанавливаем отрицательное значение для отступа снизу*/
     left :0 ;
     right :0 ;
}