body {
    font-family: Arial, sans-serif;
    background-color: #654321;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    color: #ffff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #ffff;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #251002; /* Цвет фона колонтитула */
    color: white; /* Цвет текста колонтитула */
    text-align: center; /* Центрирование текста в колонтитуле */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Устанавливаем на ноль отступ снизу */
    left: 0; /* Устанавливаем на ноль отступ слева */
    right: 0; /* Устанавливаем на ноль отступ справа */

    height: 50px; /* Устанавливаем фиксированную высоту колонтитула */

    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: -4; /* Центрируем по вертикали */

    padding: 0; /* Убираем дополнительные отступы, если они не нужны */
}