<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo"><img src="templates/logo.png" alt="Логотип" width="40" height="40"></a>
        </div>
        <h1>Корзина</h1>
        <div class="user-container">
            {% if session.get('logged_in') %}
                <div class="user-icon logged-in" onclick="togglePopup()">
                    <img src="{{ avatar_url }}" alt="Аватарка пользователя" width="40" height="40">
                </div>
            {% else %}
                <div class="user-icon" onclick="togglePopup()">
                    <img src="/templates/1616475211_2-p-nyashnie-kotyata-foto-koshka-2-730x730.png" alt="Иконка пользователя" width="40" height="40">
                </div>
            {% endif %}
        </div>
        <ul id="popup-menu" class="hidden">
            {% if not session.get('logged_in') %}
                <li><a href="/reg">Зарегистрироваться</a></li>
                <li><a href="/login">Войти</a></li>
            {% else %}
                <li><a href="/cart">Корзина</a></li> <!-- Кнопка "Корзина" -->
                <li><a href="/logout">Выход</a></li>
            {% endif %}
            <li><a href="/">Главная</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </header>

    <main>
        <section class="cart-items">
            {% if products %}
                <h2>Ваши товары в корзине:</h2>
                <ul>
                    {% for product in products %}
                        <li>{{ product.name }} - {{ product.price }} руб.</li> <!-- Отображение товаров в корзине -->
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Ваша корзина пуста.</h2> <!-- Сообщение, если корзина пуста -->
            {% endif %}
        </section>

    </main>

    <script src="js/main.js"></script>

</body>
</html>