<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Добрыня</title>
     <link rel="stylesheet" href="css/main.css">
 </head>
 <body>
     <header>
         <a href="#" class="logo">Логотип</a>
         <h1>Добрыня</h1>
         <div class="user-icon" onclick="togglePopup()">
             <img src="templates/logo.png" alt="Логотип" width="40" height="40">
         </div>
         <ul id="popup-menu" class="hidden">
             <li><a href="/register">Зарегистрироваться</a></li>
             <li><a href="/profile">Мой профиль</a></li>
         </ul>
     </header>

     <main>
         <section>
             <h2>Добро пожаловать на сайт строительного магазина Добрыня!</h2>
             <p>У нас самые качественные материалы, долговечные инструменты, низкие цены по всему рынку и быстрая доставка.</p>
         </section>
     </main>

     <script src="js/main.js"></script>
 </body>
 </html>
