<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добрыня</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo"><img src="templates/logo.png" alt="Логотип" width="40" height="40"></a>
        </div>
        <h1>Добрыня</h1>
        <div class="user-container">
            {% if session.get('logged_in') %}
                <div class="user-icon logged-in" onclick="togglePopup()">
                    <img src="{{ avatar_url }}" alt="Аватарка пользователя" width="40" height="40">
                </div>
            {% else %}
                <div class="user-icon" onclick="togglePopup()">
                    <img src="/templates/user_avatar.png" alt="Иконка пользователя" width="40" height="40">
                </div>
            {% endif %}
        </div>
        <ul id="popup-menu" class="hidden">
            {% if not session.get('logged_in') %}
                <li><a href="/reg">Зарегистрироваться</a></li>
                <li><a href="/login">Войти</a></li>
            {% else %}
                <li><a href="/logout">Выход</a></li>
            {% endif %}
            <li><a href="/">Главная</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </header>

    <main>
        <section>
            <h2>Добро пожаловать на сайт строительного магазина Добрыня!</h2>
            <p>У нас самые качественные стройматериалы, надёжные инструменты, низкие цены и быстрая доставка!.</p>
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>